<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotless Hungry Crocodile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing10.css" rel="stylesheet" />
      <div class="pricing10-pricing23 thq-section-padding">
        <div class="pricing10-max-width thq-section-max-width">
          <div class="pricing10-section-title">
            <div class="pricing10-content1">
              <h2 class="pricing10-text10 thq-heading-2">
                <fragment class="pricing10-fragment23">
                  <span class="pricing10-text55">Basic Plan</span>
                </fragment>
              </h2>
              <p class="pricing10-text11 thq-body-large">
                <fragment class="pricing10-fragment30">
                  <span class="pricing10-text62">
                    <span>
                      Perfect for small websites and personal projects
                    </span>
                    <span></span>
                  </span>
                </fragment>
              </p>
            </div>
          </div>
          <div class="pricing10-content3">
            <div class="pricing10-container10"></div>
            <div class="pricing10-column1">
              <div class="pricing10-price1">
                <div class="pricing10-price2">
                  <p class="pricing10-text12 thq-body-large">
                    <fragment class="pricing10-fragment20">
                      <span class="pricing10-text52">Basic Plan</span>
                    </fragment>
                  </p>
                  <h3 class="pricing10-text13 thq-heading-3">
                    <fragment class="pricing10-fragment41">
                      <span class="pricing10-text75">$29/month</span>
                    </fragment>
                  </h3>
                  <p class="pricing10-text14 thq-body-large">
                    <fragment class="pricing10-fragment13">
                      <span class="pricing10-text45">$290/year</span>
                    </fragment>
                  </p>
                </div>
              </div>
              <button
                class="pricing10-button1 thq-button-animated thq-button-outline"
              >
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment26">
                    <span class="pricing10-text58">Get Started</span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing10-column2">
              <div class="pricing10-price3">
                <div class="pricing10-price4">
                  <p class="pricing10-text16 thq-body-large">
                    <fragment class="pricing10-fragment29">
                      <span class="pricing10-text61">Business</span>
                    </fragment>
                  </p>
                  <h3 class="pricing10-text17 thq-heading-3">
                    <fragment class="pricing10-fragment14">
                      <span class="pricing10-text46">$20/mo</span>
                    </fragment>
                  </h3>
                  <p class="pricing10-text18 thq-body-large">
                    <fragment class="pricing10-fragment37">
                      <span class="pricing10-text71">or $200 yearly</span>
                    </fragment>
                  </p>
                </div>
              </div>
              <button
                class="pricing10-button2 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment27">
                    <span class="pricing10-text59">Get started</span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing10-column3">
              <div class="pricing10-price5">
                <div class="pricing10-price6">
                  <p class="pricing10-text20 thq-body-large">
                    <fragment class="pricing10-fragment31">
                      <span class="pricing10-text65">Enterprise</span>
                    </fragment>
                  </p>
                  <h3 class="pricing10-text21 thq-heading-3">
                    <fragment class="pricing10-fragment15">
                      <span class="pricing10-text47">$20/mo</span>
                    </fragment>
                  </h3>
                  <p class="pricing10-text22 thq-body-large">
                    <fragment class="pricing10-fragment24">
                      <span class="pricing10-text56">or $200 yearly</span>
                    </fragment>
                  </p>
                </div>
              </div>
              <button
                class="pricing10-button3 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment38">
                    <span class="pricing10-text72">Upgrade Now</span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
          <div class="pricing10-container11">
            <div class="pricing10-content21">
              <h3 class="thq-heading-3">
                <fragment class="pricing10-fragment11">
                  <span class="pricing10-text43">Core Features</span>
                </fragment>
              </h3>
            </div>
            <div class="pricing10-container12">
              <div class="pricing10-container13">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment10">
                    <span class="pricing10-text42">
                      Website Vulnerability Scanning
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container14">
                <span class="pricing10-text26 thq-body-small">
                  <fragment class="pricing10-fragment33">
                    <span class="pricing10-text67">1 User</span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container15">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment22">
                    <span class="pricing10-text54">5 Websites</span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container16">
                <span class="pricing10-text28 thq-body-small">
                  <fragment class="pricing10-fragment18">
                    <span class="pricing10-text50">Basic Support</span>
                  </fragment>
                </span>
              </div>
            </div>
            <div class="pricing10-container17">
              <div class="pricing10-container18">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment17">
                    <span class="pricing10-text49">Subdomain Enumeration</span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container19">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container20">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container21">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container22">
              <div class="pricing10-container23">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment34">
                    <span class="pricing10-text68">Detailed Reports</span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container24">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container25">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container26">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container27">
              <div class="pricing10-container28">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment12">
                    <span class="pricing10-text44">Email Support</span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container29">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container30">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container31">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container32">
              <div class="pricing10-container33">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment36">
                    <span class="pricing10-text70">API Access</span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container34">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container35">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container36">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="pricing10-container37">
            <div class="pricing10-content22">
              <h3 class="thq-heading-3">
                <fragment class="pricing10-fragment35">
                  <span class="pricing10-text69">Feature Category</span>
                </fragment>
              </h3>
            </div>
            <div class="pricing10-container38">
              <div class="pricing10-container39">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment21">
                    <span class="pricing10-text53">
                      Feature description goes here.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container40">
                <span class="pricing10-text35 thq-body-small">
                  <fragment class="pricing10-fragment25">
                    <span class="pricing10-text57">20</span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container41">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment39">
                    <span class="pricing10-text73">100</span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container42">
                <span class="pricing10-text37 thq-body-small">
                  <fragment class="pricing10-fragment19">
                    <span class="pricing10-text51">Unlimited</span>
                  </fragment>
                </span>
              </div>
            </div>
            <div class="pricing10-container43">
              <div class="pricing10-container44">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment16">
                    <span class="pricing10-text48">
                      Feature description goes here.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container45">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container46">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container47">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container48">
              <div class="pricing10-container49">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment32">
                    <span class="pricing10-text66">
                      Feature description goes here.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container50">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container51">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container52">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container53">
              <div class="pricing10-container54">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment40">
                    <span class="pricing10-text74">
                      Feature description goes here.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container55">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container56">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container57">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container58">
              <div class="pricing10-container59">
                <span class="thq-body-small">
                  <fragment class="pricing10-fragment28">
                    <span class="pricing10-text60">
                      Feature description goes here.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing10-container60">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container61">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container62">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
