<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotless Hungry Crocodile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial18.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial18-max-width thq-section-max-width">
          <div class="testimonial18-container1 thq-grid-2">
            <div class="testimonial18-section-title">
              <h2 class="thq-heading-2">
                <fragment class="testimonial18-fragment13">
                  <span class="testimonial18-text25">
                    Customer Testimonials
                  </span>
                </fragment>
              </h2>
              <p class="thq-body-large">
                <fragment class="testimonial18-fragment15">
                  <span class="testimonial18-text27">
                    We have been using the bug-hunting platform for a year now,
                    and it has significantly improved our cybersecurity
                    measures. The reports are detailed and easy to understand,
                    making it a valuable tool for our team.
                  </span>
                </fragment>
              </p>
              <div class="testimonial18-container2">
                <button
                  type="button"
                  class="thq-button-filled testimonial18-button1"
                >
                  <span>
                    <fragment class="testimonial18-fragment20">
                      <span class="testimonial18-text32">Primary action</span>
                    </fragment>
                  </span>
                </button>
                <button
                  type="button"
                  class="thq-button-outline testimonial18-button2"
                >
                  <span>
                    <fragment class="testimonial18-fragment17">
                      <span class="testimonial18-text29">Secondary action</span>
                    </fragment>
                  </span>
                </button>
              </div>
            </div>
            <div class="testimonial18-content">
              <div class="testimonial18-column1 thq-card">
                <div class="testimonial18-stars1">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path>
                  </svg>
                </div>
                <span class="testimonial18-text12 thq-body-small">
                  <fragment class="testimonial18-fragment14">
                    <span class="testimonial18-text26">
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Suspendisse varius enim in eros elementum tristique. Duis
                      cursus, mi quis viverra ornare."
                    </span>
                  </fragment>
                </span>
                <div class="testimonial18-avatar1">
                  <img
                    alt="Author Avatar"
                    src="https://images.unsplash.com/photo-1464863979621-258859e62245?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMDgyMjE0NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="testimonial18-avatar-image1 thq-img-ratio-1-1 thq-img-round"
                  />
                  <div class="testimonial18-avatar-content1">
                    <span class="testimonial18-text13 thq-body-small">
                      <fragment class="testimonial18-fragment18">
                        <span class="testimonial18-text30">Alice Johnson</span>
                      </fragment>
                    </span>
                    <span class="testimonial18-text14 thq-body-small">
                      <fragment class="testimonial18-fragment10">
                        <span class="testimonial18-text22">
                          CEO at Tech Co.
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <div class="testimonial18-column2 thq-card">
                <div class="testimonial18-stars2">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path>
                  </svg>
                </div>
                <span class="testimonial18-text15 thq-body-small">
                  <fragment class="testimonial18-fragment11">
                    <span class="testimonial18-text23">
                      The platform's scanning services are top-notch. We were
                      able to identify vulnerabilities that we were previously
                      unaware of. The support team is also very responsive and
                      helpful.
                    </span>
                  </fragment>
                </span>
                <div class="testimonial18-avatar2">
                  <img
                    alt="Author Avatar"
                    src="https://images.unsplash.com/photo-1532074205216-d0e1f4b87368?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMDgyMjE0NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="testimonial18-avatar-image2 thq-img-ratio-1-1 thq-img-round"
                  />
                  <div class="testimonial18-avatar-content2">
                    <span class="testimonial18-text16 thq-body-small">
                      <fragment class="testimonial18-fragment22">
                        <span class="testimonial18-text34">Bob Smith</span>
                      </fragment>
                    </span>
                    <span class="testimonial18-text17 thq-body-small">
                      <fragment class="testimonial18-fragment21">
                        <span class="testimonial18-text33">
                          CTO at Security Firm
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <div class="testimonial18-column3 thq-card">
                <div class="testimonial18-stars3">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path>
                  </svg>
                </div>
                <span class="testimonial18-text18 thq-body-small">
                  <fragment class="testimonial18-fragment23">
                    <span class="testimonial18-text35">
                      I highly recommend this platform to anyone looking to
                      enhance their website security. The subdomain
                      identification feature is particularly impressive and has
                      helped us secure our online assets.
                    </span>
                  </fragment>
                </span>
                <div class="testimonial18-avatar3">
                  <img
                    alt="Author Avatar"
                    src="https://images.unsplash.com/photo-1622278801918-03ae631dd576?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMDgyMjE0NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="testimonial18-avatar-image3 thq-img-ratio-1-1 thq-img-round"
                  />
                  <div class="testimonial18-avatar-content3">
                    <span class="testimonial18-text19 thq-body-small">
                      <fragment class="testimonial18-fragment12">
                        <span class="testimonial18-text24">Eva Brown</span>
                      </fragment>
                    </span>
                    <span class="testimonial18-text20 thq-body-small">
                      <fragment class="testimonial18-fragment25">
                        <span class="testimonial18-text37">
                          Head of IT at Finance Corp.
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <div class="testimonial18-column4 thq-card">
                <div class="testimonial18-stars4">
                  <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path></svg
                  ><svg viewBox="0 0 1024 1024" class="thq-icon-small">
                    <path
                      d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
                    ></path>
                  </svg>
                </div>
                <span class="testimonial18-review4 thq-body-small">
                  <fragment class="testimonial18-fragment16">
                    <span class="testimonial18-text28">
                      As a security analyst, I rely on accurate and reliable
                      tools for my work. This platform has exceeded my
                      expectations with its precision in detecting
                      vulnerabilities. It's a must-have for any cybersecurity
                      professional.
                    </span>
                  </fragment>
                </span>
                <div class="testimonial18-avatar4">
                  <img
                    alt="Author Avatar"
                    src="https://images.unsplash.com/photo-1583090758875-4dc2d02c6c12?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMDgyMjE0NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="testimonial18-author41 thq-img-ratio-1-1 thq-img-round"
                  />
                  <div class="testimonial18-avatar-content4">
                    <span class="testimonial18-author42 thq-body-small">
                      <fragment class="testimonial18-fragment19">
                        <span class="testimonial18-text31">David Lee</span>
                      </fragment>
                    </span>
                    <span class="testimonial18-text21 thq-body-small">
                      <fragment class="testimonial18-fragment24">
                        <span class="testimonial18-text36">
                          Security Analyst
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
